@font-face{
    font-family:"Poppins";
    src:url("/theme_crest/static/fonts/poppins/poppins-latin-regular.woff2") format("woff2"),url("/theme_crest/static/fonts/poppins/poppins-latin-regular.woff") format("woff");
}

h1,.h1{
	letter-spacing: -1px;
}