.barnds-page-bits {
  .brand-title {
    background-color: o-color("primary");
    padding: 130px 0 230px;
    position: relative;
    z-index: 0;
    @media (max-width: 576px) {
      padding: 100px 0 100px 0;
    }
    img {
      z-index: -1;
      top: 0;
      left: 0;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    svg {
      position: absolute;
      bottom: 0;
      transform: rotate(180deg);
      left: 0;
      right: 0;
    }
    h2 {
      color: o-color("primary");
      font-size: 60px;
      font-weight: 400;
      @media (max-width: 575px) {
        font-size: 38px;
      }
    }
  }

  .brands-inner {
    padding: 50px 0;

    .brand-filter {
      display: flex;
      overflow-x: scroll;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        height: 2px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f100;
      }
      &::-webkit-scrollbar-thumb {
        background: o-color("primary");
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: transparent !important;
      }
      .btn {
        margin: 5px;
        text-wrap: nowrap;
        &:hover {
          color: white;
        }
        &.active {
          background-color: o-color("primary");
          color: white;
        }
      }
    }

    .brand-list {
      .brand-item {
        border: 1px solid #c7cecf;
        border-radius: 10px;
        padding: 10px 15px;
        margin: 10px 0;
        height: 100% !important;

        img {
          width: 100px !important;
          height: 100px !important;
          object-fit: contain;
        }

        .brand-link {
          height: 100%;
          text-decoration: none;

          h5 {
            font-size: 18px;
            margin: 0 15px;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
