.our_collections_bits {
  .our_collections-title {
    background-color: o-color("primary");
    padding: 130px 0 230px;
    @media (max-width: 576px) {
      padding: 100px 0 100px 0;
    }
    position: relative;
    z-index: 0;
    img {
      z-index: -1;
      top: 0;
      left: 0;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    svg {
      position: absolute;
      bottom: 0;
      transform: rotate(180deg);
      left: 0;
      right: 0;
    }
    h2 {
      color: o-color("primary");
      font-size: 60px;
      font-weight: 400;
      @media (max-width: 575px) {
        font-size: 38px;
      }
    }
  }
  .bits-dy-collections {
    .collections_main {
      column-count: 3;
      @media (max-width: 992px) {
        column-count: 2;
      }
      @media (max-width: 576px) {
        column-count: 1;
      }
      .card {
        margin: 0 0 15px 0 !important;
        border-radius: 10px !important;
        position: relative;
        background: white !important;
        border: none !important;
        box-shadow: 0px 0px 12px -7px black;
        overflow: hidden;
        img {
          transform: scale(1);
          transition: 1s all;
          filter: contrast(1.2);
          width: 100%;
          object-fit: contain;
        }
        .categ-link {
          position: absolute;
          bottom: 25px;
          text-wrap: nowrap;
          left: 50%;
          transform: translateX(-50%);
          padding: 10px 30px;
          background: white;
          border: 1px solid #c1c1c1;
          border-radius: 100px;
          text-decoration: none;
          color: o-color("primary");
          transition: 0.3s ease-in-out;
          i {
            transform: scale(0);
            transition: 0.2s ease-in-out;
            visibility: hidden;
            font-size: 0px;
            display: inline-block;
          }
          &:hover {
            text-decoration: none;
            background-color: o-color("primary");
            color: white;
            transition: 0.3s ease-in-out;
            i {
              font-size: 16px;
              transform: scale(1);
              transition: 0.2s ease-in-out;
              visibility: visible;
            }
          }
        }
        &:hover {
          img {
            transition: 1s all;
            transform: scale(1.2);
          }
        }
      }
      .pagination-inner {
        .pagination {
          align-items: center;

          .page-item {
            a {
              border-radius: 8px;
              width: 40px;
              height: 40px;
              line-height: 40px;
              padding: 0;
              text-align: center;
              color: o-color("primary");
              margin: 0 5px !important;
              background-color: white;
              border: 1px solid o-color("primary");
            }
            &.active {
              a {
                color: white !important;
                background-color: o-color("primary") !important;
                border: 1px solid o-color("primary") !important;
              }
            }
            span {
              width: 40px;
              height: 40px;
              line-height: 40px;
              padding: 0;
              text-align: center;
              color: o-color("primary");
              background-color: white;
              display: inline-block;
            }
            .prev-btn {
              border: none !important;
            }
            .next-btn {
              border: none !important;
            }
            &.disabled {
              opacity: 50%;
            }
          }
        }
      }
    }
  }
}
