.o_wsale_product_page {
  section#product_detail {
    #product_detail_main {
      .o_wsale_product_images {
        #o-carousel-product {
          .carousel-control-prev {
            left: -15px;
          }

          .carousel-control-next {
            right: -15px;
          }
        }
      }

      #product_details {
        .cmn-title {
          font-weight: 600;
        }

        .lbl_container.container_bits {
          .p_label {
            display: block;
            margin-top: 4px;
            width: max-content;
            padding: 0px 12px 0px 8px;
            border-radius: 4px;
            box-shadow: 0px 0px 3px #949494;
            font-size: 14px !important;
            text-transform: capitalize;

            &:before {
              content: "\f02b";
              font-family: FontAwesome;
              font-size: 0.625rem;
            }
          }
        }
        .description-page {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          font-size: 16px !important;
          overflow: hidden;
        }
        .product_price {
          .price-main {
            color: #253d4e !important;
            font-weight: 600;
            font-size: 28px;
          }

          .oe_default_price {
            color: #9e9e9e !important;
          }

          .discount_pr_bits {
            color: #049400;
            font-weight: 500;
            text-transform: capitalize;
          }
        }
        .modal-dialog,
        .timer_bits {
          .pl_offer_timer {
            .counter-box {
              padding: 5px 10px !important;
              background-color: o-color("primary");
              color: white !important;
              font-weight: 600;
              border: none !important;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-radius: 7px;

              .counter {
                background-color: transparent !important;
                border: none !important;
                display: inline-block;
                padding: 0 !important;
                margin: 0 !important;
                font-size: 20px;
              }

              p {
                font-size: 15px;
                margin-bottom: 0 !important;
                font-weight: 500;
              }
            }
          }
        }
        .js_add_cart_variants {
          background: #eeeeee6b;
          border-radius: 6px;
          padding: 5px;
          margin-top: 10px;

          li.js_attribute_value {
            margin: 0 !important;
          }

          li.variant_attribute {
            padding: 0px 10px !important;
          }

          .o_wsale_product_attribute {
            .css_attribute_color {
              border: 0px !important;
              margin-right: 8px !important;

              input {
                height: 8px !important;
                width: 8px !important;
              }

              &.active {
                border: 2px solid o-color("primary") !important;
              }

              &:before {
                border: 0px !important;
                box-shadow: 0px !important;
              }
            }
          }
        }
        // #product_option_block {

        //     .o_add_wishlist_dyn,
        //     .o_add_compare {
        //         color: o-color('primary') !important;
        //         padding: 4px 4px !important;
        //         margin-right: 8px;
        //         cursor: pointer !important;

        //         &:hover {
        //             text-decoration: none !important;
        //         }
        //     }
        // }

        .product_offers_container {
          margin: 15px 0px 0 0;

          .ofr-title {
            font-weight: 600;
          }

          .offer_wrap {
            font-size: 14px !important;
            text-transform: capitalize;

            i {
              color: #3e8d42;
            }
          }

          a.attr_more_detail,
          a.off_more_detail {
            color: o-color("primary");

            &:hover {
              text-decoration: none !important;
            }
          }
        }

        .product-brands {
          border-top: 1px solid #77777733 !important;
          border-bottom: 1px solid #77777733 !important;

          .brand-img-container img {
            width: 75px;
            height: 75px;
            object-fit: contain;
          }

          .b-title {
            font-weight: 500;
            text-transform: capitalize;
          }

          .b-desc {
            font-size: 12px;
            text-transform: capitalize;
          }
        }

        #o_product_terms_and_share {
          a {
            box-shadow: 0px 1px 3px #00000021 !important;
            border-radius: 30px !important;
            text-decoration: none !important;

            i {
              width: 35px;
              height: 35px;
              padding: 10px;
              border-radius: 30px !important;
            }

            &:hover {
              box-shadow: 0px 1px 3px #00000066 !important;
            }
          }
        }

        .o_shop_wrap_box_bits {
          border: 1px solid #77777733;
          padding: 24px;

          .availability_messages {
            #threshold_message {
              margin-bottom: 16px !important;
            }

            #out_of_stock_message {
              margin-bottom: 16px !important;
              color: #ffc107;
              font-size: 16px;

              p {
                margin: 0 !important;
              }
            }
          }

          #o_wsale_cta_wrapper {
            #add_to_cart_wrap {
              // justify-content: space-between;
              // width: 100%;

              margin-bottom: 18px !important;

              .css_quantity {
                width: 20%;
                margin: 0px !important;
                margin-right: 4px !important;

                .btn {
                  padding: 8px 14px !important;
                  border-color: #e7e7e7 !important;
                  box-shadow: 0 0 1px #aeaeae;
                }

                input {
                  max-width: 100%;
                  padding: 8px 0px !important;
                  box-shadow: 0 0 1px #aeaeae;
                  border-color: #e7e7e7 !important;
                }
              }

              .btn-actions-group {
                padding: 8px 18px !important;
                margin-right: 8px !important;

                &:hover {
                  i {
                    color: #fff !important;
                  }
                }
              }
              .btn-cart-group {
                a {
                  width: 50% !important;
                  margin: 0px 3px 0px 0 !important;
                }
                @media (max-width: 576px) {
                  width: 100%;
                  flex-wrap: wrap;
                  a {
                    width: 100% !important;
                    margin: 5px 3px 5px 0 !important;
                  }
                }
                @media (max-width: 1256px) {
                  margin-top: 14px !important;
                }
              }
              @media (max-width: 1256px) {
                flex-direction: column !important;
                align-items: flex-start !important;

                .css_quantity {
                  width: 40% !important;
                }

                // .btn-cart-group {
                //   width: 100%;
                //   margin-top: 14px !important;

                //   a {
                //     width: 50% !important;
                //     margin: 0 3px 0 0 !important;
                //   }
                // }

                // #product_option_block {
                //     margin-top: 14px !important;
                // }
              }

              // .js_check_product{
              //     width: 40%;
              // }
              // .o_we_buy_now{
              //     width: 40%;
              // }
            }

            #product_option_block {
              padding: 15px 0 0 0;
              border-top: 1px solid #77777733;

              .o_add_wishlist_dyn,
              .o_add_compare {
                padding: 0px 4px !important;
                margin-right: 15px;
                font-size: 18px;
                cursor: pointer !important;
                border: none !important;
                color: #253d4e !important;

                @media (max-width: 768px) {
                  padding: 8px 0 !important;
                }

                &:hover {
                  color: o-color("primary") !important;
                  text-decoration: none !important;
                  background-color: transparent !important;
                }
              }

              .card-adv-info {
                border: 1px solid #fff;
                border-radius: 8px;
                // box-shadow: 0px 1px 4px #e5e5e5;
                font-weight: 600;

                &:hover {
                  color: o-color("primary");
                }

                i {
                  color: o-color("primary");
                  font-size: 18px;
                }
              }
            }
          }
        }

        .adv-info-container {
          .o_term_and_conditions_inner {
            .o_term_and_conditions {
              flex-direction: column;
              justify-content: center;
              border: 1px solid #77777733;
              margin: 5px;
              padding: 12px 5px;
              height: 100% !important;

              .terms-title {
                font-size: 14px;
                text-transform: capitalize;
                text-align: center;
              }

              .terms-img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
              }

              .terms-icon {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }

  section.product_details_container {
    .product_tabs_bits {
      #nav-tab {
        justify-content: center;
        border-bottom: 0px !important;

        &:first-child:before {
          background-color: #e5e5e5;
          position: absolute;
          content: " ";
          width: 100%;
          top: 46px;
          z-index: -10;
          display: table;
          height: 2px;
        }

        .nav-link {
          background-color: transparent;
          padding: 10px 20px 8px 20px !important;
          font-weight: 500;
          font-size: 18px;

          &.active {
            background-color: #fff !important;
            border-bottom: 2px solid o-color("primary");
            box-shadow: 0px 0px 2px #c1c1c1;
          }
        }

        @media (max-width: 991px) {
          &:first-child:before {
            display: none !important;
          }

          border-bottom: 0px !important;
          flex-direction: column !important;

          .nav-link {
            width: 100% !important;
            border: 1px solid #eee;
            margin-top: 1px !important;
          }
        }
      }

      #product-documents {
        .doc-card {
          box-shadow: 0 1px 2px #adadad;
          border-radius: 8px;
          // .doc-type[data-dtype='image/jpeg']{
          //     width: 25px;
          //     height: 25px;
          //     background-size: contain;
          // }
        }
      }

      #product_specifications {
        table {
          border: 1px solid #eee;
        }
      }
    }
  }
}

.sticky-product-container {
  box-shadow: 0px 0px 2px #282828;
  position: fixed;
  bottom: 15px;
  left: 15px;
  right: 0;
  z-index: 999;
  width: max-content;
  transform-origin: bottom;
  opacity: 0;
  transition: ease all 0.35s;
  background: #fff;
  border-radius: 8px;
  &.show {
    // display: block;
    opacity: 1;
  }
  img {
    width: 30px;
  }

  h6 {
    font-size: 14px;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }

  h3 {
    font-size: 14px;
  }
}

.s_product_product_bits_1 {
  .o_carousel_product_card {
    border: 1px solid #d3d3d3 !important;
    .product-img {
      height: 300px !important;
      overflow: hidden;
      .card-img-top {
        height: 300px !important;
        width: 100% !important;
        object-fit: contain !important;
        overflow: hidden;
      }
      .action-btn {
        position: absolute;
        bottom: -100% !important;
        left: 50% !important;
        transform: translateX(-50%);
        z-index: 999;
        transition: 0.3s all;
        .quick_view_container {
          .o_quick_view_btn {
            cursor: pointer;
            height: 35px;
            width: 45px !important;
            font-size: 20px;
            background-color: white;
            color: o-color("primary");
            border: 1px solid o-color("primary") !important;
            font-size: 20px;
            color: o-color("primary");
            display: flex;
            margin: 0 4px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            transition: 0.4s ease-in-out;
            &:hover {
              text-decoration: none;
              color: white;
              background-color: o-color("primary");
              border: 1px solid transparent;
              transition: 0.4s ease-in-out;
            }
          }
        }
        .btn-wish {
          a {
            cursor: pointer;
            height: 35px;
            width: 45px !important;
            font-size: 20px;
            color: o-color("primary");
            border: 1px solid o-color("primary") !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            transition: 0.4s ease-in-out;
            margin: 0 4px;
            background-color: white !important;
            &:hover {
              text-decoration: none;
              color: white;
              background-color: o-color("primary") !important;
              border: 1px solid transparent;
              transition: 0.4s ease-in-out;
            }
          }
        }
        .o_add_compare {
          cursor: pointer;
          height: 35px;
          margin: 0 4px;
          width: 45px;
          font-size: 20px;
          color: o-color("primary");
          border: 1px solid o-color("primary") !important;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          transition: 0.4s ease-in-out;
          background-color: white !important;
          &:hover {
            text-decoration: none;
            color: white;
            background-color: o-color("primary") !important;
            border: 1px solid transparent;
            transition: 0.4s ease-in-out;
          }
        }
      }
    }
    .o_dynamic_snippet_btn_wrapper {
      .btn {
        width: 100% !important;
        border-radius: 0 !important;
      }
    }
    .o_website_rating_static {
      text-align: start !important;
      margin: 0 0.5rem;
    }
    &:hover {
      .product-img {
        .action-btn {
          bottom: 10px !important;
          transition: 0.3s all;
        }
      }
    }
  }
  #s_dynamic_snippet_1,
  #s_dynamic_snippet_2 {
    .carousel-control-prev {
      @media (max-width: 992px) {
        display: none !important;
      }
      left: 10px !important;
    }
    .carousel-control-next {
      @media (max-width: 992px) {
        display: none !important;
      }
      right: 10px !important;
    }
  }
  #s_dynamic_snippet_2 {
    .s_dynamic_snippet_row {
      &.g-3,
      &.gy-3 {
        --gutter-y: 0 !important;
      }
    }
  }
}
