footer {
  .footer1_bits,
  .footer2_bits,
  .footer3_bits,
  .footer4_bits,
  .footer5_bits,
  .footer6_bits,
  .footer7_bits,
  .footer8_bits,
  .footer9_bits,
  .footer10_bits {
    .footer-title h5,
    .footer-icon-light i,
    .footer-color-light i {
      color: #ffffff;
      font-size: 18px;
    }
    .footer-link {
      a {
        font-size: 15px;
        color: #94989b !important;
        &:hover {
          text-decoration: none !important;
        }
      }
    }
    .footer-middle {
      padding: 50px 0 16px;
    }
    .footer-link-para {
      color: #94989b !important;
      font-size: 14px;
      text-decoration: none;
    }
    .footer-r-color {
      h3 {
        color: #f03638;
        font-size: 24px;
      }
    }
  }
  // Footer 1
  .footer1_bits {
    .footer-title {
      img {
        width: 150px;
        height: 75px;
        object-fit: contain;
      }
    }
    .footer-link {
      color: #91969e !important;
      a {
        color: #a2a7b1 !important;
      }
    }
    .footer-middle {
      padding: 50px 0 20px 0 !important;
    }
    .footer-color {
      background-color: #394150 !important;
    }
  }
  // Footer 2
  .footer2_bits {
    .footer-link a,
    .footer-link-para p {
      color: #92a7b3 !important;
    }
    .footer-color {
      background-color: #042335 !important;
    }
    .footer-y-color {
      h3 {
        color: #ffc107;
        font-size: 24px;
      }
    }
  }
  // Footer 3
  .footer3_bits {
    .footer-title {
      h5 {
        color: #000;
      }
    }
    .footer-link {
      a {
        color: #92a7b3 !important;
      }
    }
    .footer-link-para {
      color: #92a7b3 !important;
    }
    .footer-sub-para {
      p {
        color: #92a7b3 !important;
        font-size: 16px;
        text-decoration: none;
        margin-bottom: 0;
      }
    }
    .footer-middle {
      padding: 30px 0 !important;
    }
    .footer-color {
      background-color: #ffffff !important;
    }
    .subscribe-box {
      border: 1px solid #a8a8a8;
      margin: 10px 0;
      padding: 20px 15px;
      .s_newsletter_subscribe_form {
        align-items: center !important;
        .js_subscribe_value {
          padding: 10px;
          border-radius: 0 !important;
        }
        .o_submit {
          padding: 10px 30px !important;
          border-radius: 0 !important;
          &.js_subscribe_btn {
            background-color: black !important;
            border: none !important;
          }
        }
      }
    }
    .footer-icon {
      .fa-facebook-official {
        color: #2c74eb;
        font-size: 18px;
      }
      .fa-twitter-square {
        color: #3da1f0;
        font-size: 18px;
      }
      .fa-linkedin-square {
        color: #2778b5;
        font-size: 18px;
      }
      .fa-instagram {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
        background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
      }
      .fa-youtube-play {
        color: #ed0016;
        font-size: 18px;
      }
    }
  }
  // Footer 4
  .footer4_bits {
    .footer-link a,
    .footer-link-para p {
      color: #92a7b3 !important;
    }
    .s_newsletter_subscribe_form {
      align-items: center !important;
      .js_subscribe_value {
        padding: 10px;
        border-radius: 0 !important;
        background-color: white !important;
      }
      .o_submit {
        padding: 10px 30px !important;
        border-radius: 0 !important;
        &.js_subscribe_btn {
          border: none !important;
          background-color: #f03638 !important;
        }
      }
    }
    .footer-middle {
      padding: 100px 0 16px 0 !important;
      @media (max-width: 991px) {
        padding: 60px 0 16px 0 !important;
      }
    }
    .footer-color {
      background-color: #1e2538 !important;
    }
    .footer-top-absolute {
      background-color: #fff;
      color: #000;
      text-align: center;
      position: absolute;
      padding: 20px;
      top: -76px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      @media (max-width: 991px) {
        position: static;
        transform: translateX(0%);
      }
    }
    .icon-para {
      p {
        color: #000 !important;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
        padding-top: 12px;
      }
    }

    .footer-icon {
      .fa-facebook-official {
        color: #2c74eb;
        font-size: 18px;
      }
      .fa-twitter-square {
        color: #3da1f0;
        font-size: 18px;
      }
      .fa-linkedin-square {
        color: #2778b5;
        font-size: 18px;
      }
      .fa-instagram {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
        background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
      }
      .fa-youtube-play {
        color: #ed0016;
        font-size: 18px;
      }
    }
  }
  // Footer 5
  .footer5_bits {
    .s_newsletter_subscribe_form {
      align-items: center !important;
      width: 100% !important;
      .input-group {
        display: block !important;
        width: 100% !important;
        .js_subscribe_value {
          padding: 10px;
          width: 100% !important;
          border-radius: 0 !important;
          background-color: white !important;
          &:focus,
          &:active,
          &:hover {
            border: none !important;
            box-shadow: none !important;
          }
        }
        .o_submit {
          padding: 10px 30px !important;
          border-radius: 0 !important;
          margin: 10px 0 0 0;
          &.js_subscribe_btn {
            border: none !important;
            background-color: #333333 !important;
          }
        }
      }
    }
    .f-content-span {
      color: #94989b !important;
      font-size: 13px;
      text-decoration: none;
    }
    .footer-color {
      background-color: #1e2538 !important;
    }
  }
  // Footer 6
  .footer6_bits {
    .footer-title {
      img {
        width: 150px;
        height: 75px;
        object-fit: contain;
      }
    }
    .s_newsletter_subscribe_form {
      align-items: center !important;
      width: 100% !important;
      .input-group {
        position: relative;
        width: 100%;
        .js_subscribe_value {
          padding: 10px;
          width: 100% !important;
          border-radius: 0 !important;
          background-color: #2c2c2c !important;
          border: 0 !important;
          color: #94989b !important;
          &:focus,
          &:active,
          &:hover {
            border: none !important;
            box-shadow: none !important;
          }
        }
        .o_submit {
          padding: 8px 25px !important;
          border-radius: 0 !important;
          position: absolute;
          right: 2px;
          top: 50%;
          transform: translateY(-50%);
          &.js_subscribe_btn {
            border: none !important;
            background-color: black !important;
            z-index: 99 !important;
          }
        }
      }
    }
    .f-content-span {
      color: #94989b !important;
      font-size: 13px;
    }
    .f-link-underline {
      li {
        a {
          color: #94989b !important;
          font-size: 14px;
        }
      }
    }
    .footer-color {
      background-color: #1e2538 !important;
    }
  }
  // Footer 7
  .footer7_bits {
    .footer-title {
      h5 {
        color: #000;
        font-weight: 600;
      }
    }
    .footer-link a,
    .footer-link-para p {
      color: #5b6574 !important;
    }
    .s_newsletter_subscribe_form {
      align-items: center !important;
      width: 100% !important;
      .input-group {
        position: relative;
        width: 100%;
        .js_subscribe_value {
          padding: 10px;
          width: 100% !important;
          border-radius: 0 !important;
          background-color: white !important;
          border: 1px solid #cacaca !important;
          color: #5b6574 !important;
          &:focus,
          &:active,
          &:hover {
            border: none !important;
            box-shadow: none !important;
          }
        }
        .o_submit {
          padding: 8px 25px !important;
          border-radius: 0 !important;
          position: absolute;
          right: 2px;
          top: 50%;
          transform: translateY(-50%);
          &.js_subscribe_btn {
            border: none !important;
            background-color: black !important;
            z-index: 99 !important;
          }
        }
      }
    }
    .footer-color {
      background-color: #ffffff !important;
    }
    .subscribe-box {
      border: 1px solid #a8a8a8;
      margin: 10px 0;
      padding: 20px 15px;
    }
    .footer-icon-dark {
      i {
        color: #000;
        font-size: 18px;
      }
    }
  }
  // Footer 8
  .footer8_bits {
    .footer-date {
      p,
      span {
        color: #aa6a4c !important;
        font-size: 14px;
      }
    }
    .footer-color {
      background-color: #070606 !important;
    }
  }
  // Footer 9
  .footer9_bits {
    .footer-middle {
      min-height: auto !important;
    }
    .footer-middle {
      padding: 50px 0 0px;
    }
    .footer-color {
      background-color: #222222 !important;
    }
    .footer-nav {
      .d-flex {
        .pe-4 {
          border-right: 1px solid #d4d4d4;
        }
      }
    }
    .footer-copyright {
      background-color: #ca9f57;
    }
    .logo-img {
      img {
        width: 150px;
        height: 75px;
        object-fit: contain;
      }
    }
  }
  // Footer 10
  .footer10_bits {
    .footer-top {
      padding: 30px 0 16px;
    }
    .img-logo img,
    .footer-title img {
      width: 150px;
      height: 75px;
      object-fit: contain;
    }
    .footer-color {
      background-color: #222222 !important;
    }
  }
}
